@using ALISS.Data.Client
@inject AuthenticationStateProvider authenticationStateProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        @*<form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
        <button type="button" class="nav-link btn btn-link" @onclick="(() => Logout())">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)authenticationStateProvider).MarkUserAsLoggedOut();
    }
}