<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--
    The file location can be anywhere as long as the running application has read/write/delete access.
    The environment variable also can be set as the location.
    <file value="${TMP}\\Log4NetTest.log"/>
    -->
    <file value="App_Data\04_UserManagement\ALISS_AUTH"/>
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd.'log'" />
    <StaticLogFileName value="false"/>
    <maxSizeRollBackups value="60" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %c{1}::%M - %m%n" />
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>-->
  </appender>

  <root>
    <!--
    1.OFF - nothing gets logged
    2.FATAL 
    3.ERROR
    4.WARN
    5.INFO
    6.DEBUG
    7.ALL - everything gets logged
    -->
    <level value="INFO"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>